<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <fieldset>
            <legend>Farm</legend>
            <p>(earns 10-20 gold)</p>
            <form action="/process_money" method="POST">
                <input type="submit">
            </form>
        </fieldset>
        <fieldset>
            <legend>Cave</legend>
            <p>(earns 5-10 gold)</p>
            <form action="/process_money" method="POST">
                <input type="submit">
            </form>
        </fieldset>
        <fieldset>
            <legend>House</legend>
            <p>(earns 2-5 gold)</p>
            <form action="/process_money" method="POST">
                <input type="submit">
            </form>
        </fieldset><fieldset>
            <legend>Casino</legend>
            <p>(earns/lose 0-50 gold)</p>
            <form action="/process_money" method="POST">
                <input type="submit">
            </form>
        </fieldset>
    </body>
</html>