<html>
    <head>
        <title>Rock Paper Scissor</title>
    </head>
    <body>
        <p> Current Score:</p>
        <!-- I should store  -->
        <td>Computer: {{comp_score}}</td><td>User: {{player_score}}</td><td>Draws: {{draw_count}}</td>
        <!-- What am i missing here -->
        <p>
            <a href="/rockpaperscissor/rock">Rock</a> | <a href="/rockpaperscissor/scissor">Scissor</a> | <a href="/rockpaperscissor/paper">Paper</a>
        </p>
        <form action="/rockpaperscissor/form" method="POST">
            <select name="choice">
                <option value="rock">Rock</option>
                <option value="scissor">Scissor</option>
                <option value="scissor">Rock</option>
            </select>
            <input type="submit" >
        </form>
    </body>
</html>